global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: prometheus
    honor_labels: true
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: fastapi-backend
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - backend:8000
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "([^:]+):.*"
        replacement: "$1"
      - target_label: service
        replacement: fastapi-backend

